# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# Packaging
*.egg-info/
build/
dist/

# Logs and temp
*.log
logs/
out/
.tmp/

# OS files
.DS_Store

# IDE
.vscode/
.idea/
